/* colores{
    color: white; WHITE;
    color: #E8EBE4; PLATINUM;
    color: #BEC1BB; GRAY;

    color: #A491D2; BLUE BELL;
    color: #CDC3E6; SOAP;
    color: #D4DCFF; PALE LAVENDER;

    color: #1b1f21; DARK JUNGLE;
    color: #444749; OUTER SPACE;
    color: #828485; OLD SILVER;
} */

/* tipografias {
    font-family: Roboto Bold, Open Sans Regular;

} */



