/* colores{
    color: white; WHITE;
    color: #E8EBE4; PLATINUM;
    color: #BEC1BB; GRAY;

    color: #A491D2; BLUE BELL;
    color: #CDC3E6; SOAP;
    color: #D4DCFF; PALE LAVENDER;

    color: #1b1f21; DARK JUNGLE;
    color: #444749; OUTER SPACE;
    color: #828485; OLD SILVER;
} */

/* tipografias {
    font-family: Roboto Bold, Open Sans Regular;

} */

* {
    margin: 0;
    padding: 0;
}

.cuerpo {
    display: flex;
}

.contactos {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    min-height: 100vh;
}
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8EBE4;
    width: 80%;
    min-height: 100vh;
    border: 1px solid #ccc;

}

.logo {
    height: 300px;
    width: 300px;
}

.titulo {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 8px;
}

.subtitulo {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
}


.usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.userprincipal {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.usersecundario {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 30px;

}


.iconosusuario {
    display: flex;
    gap: 1rem;
    color: #828485;

}

.nombre {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.mensaje {
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    color: #1b1f21;

}


.estado {
    font-size: 10px;
    color: #828485;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

.tinythumbnail {
    border-radius: 50%;
    object-fit: cover;
    height: 35px;
    width: 35px;
}

.normalthumbnail {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}


.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    border-bottom: 1px solid #ccc;
    
}

.boton button {
    border: 0px;
    padding: 20px 60px 20px 60px;
    background-color: #A491D2;
    color: white;
    font-size: 16px;
}

.boton button:hover {
    background-color: #CDC3E6;
}

.boton button:focus {
    background-color: #E8EBE4;
}